/* ====================================
   Footer's style
   ==================================== */

#site-footer {
    @include clearfix;
    margin-top: 30px;
    text-align: center;
    position: relative;
    padding-top: 48px;
    padding-bottom: 24px;
    p {
        color: #828282;
        line-height: 1.5;
        b {
            color: black;
        }
    }
    &::before {
        content: '';
        display: block;
        width: 285px;
        height: 1px;
        background-color: black;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}