/* style for story */

.story {
    @include clearfix;
    margin-bottom: 12px;
    position: relative;
    &__thumb {
        margin-bottom: 7px;
        overflow: hidden;
        position: relative;
        img {
            @include transition(all, 0.2, linear);
            &::after {
                @include transition(all, 0.4, ease);
            }
        }
        a {
            &::after {
                @include transition(all, 0.4, ease);
                display: block;
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: black;
                opacity: 0;
            }
        }
        &:hover {
            a {
                &::after {
                    opacity: 0.3;
                }
            }
            img {
                transform: scale(1.03);
            }
        }
    }
    &__title {
        font-size: 16px;
        line-height: 1.4; // font-weight: bold;
    }
    &__meta {
        color: #999;
        margin-top: 7px;
        margin-bottom: 5px;
        @include font-size(12, 16);
    }
    &__summary {
        color: #555;
        @include font-size(13, 18);
    }
    &__footer {
        margin-top: 16px;
        .story {
            .story__title {
                font-size: 12px;
                line-height: 1.4;
                font-weight: bold;
            }
        }
    }
    &--highlight {
        .story__title {
            font-size: 24px;
            line-height: 1.4;
            font-weight: bold;
        }
        @include breakpoint(xs) {
            padding-bottom: 12px;
            border-bottom: 1px solid #ddd;
        }
        @include breakpoint(768px, 1023px) {
            padding-bottom: 12px;
            border-bottom: 1px solid #ddd;
        }
    }
    &--featured {
        .story__title {
            font-size: 24px;
            line-height: 1.4;
            font-weight: bold;
        }
    }
    &--bold {
        .story__title {
            font-weight: bold;
        }
    }
    &--video {
        .story__thumb {
            position: relative;
            a {
                display: block;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 48px;
                    height: 48px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: url(../img/play-button.png) left top no-repeat;
                    background-size: 100%;
                    z-index: 2;
                    @include breakpoint(md) {
                        width: 76px;
                        height: 76px;
                    }
                }
            }
        }
    }
    &--horizontal {
        @include last-child-y;
        .story__thumb {
            // width: 80px;
            // height: 60px;
            float: left;
            margin: 0 10px 0 0;
        }
    }
    .breaking & {
        .story__title,
        .story__meta {
            float: left;
            margin-left: 5px;
            line-height: 19px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}